<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="KayConnect" value="Data Source=.\sqlexpress;Initial Catalog=Societa;Integrated Security=True"/>
		<add key="Save" value="C:\\Users\\Betacom\\Desktop\\CartellaTxt\\tableisCreate.txt"/>
		<add key="Log" value="INSERT INTO [dbo].[TabellaLog]
           ([Desctizione]
           ,[Data])
     VALUES
           (@Descrizione
           ,@data)"/>
		
		<add key="InsertData" value="INSERT INTO [dbo].[Indirzzi]
		    (
			[id_indirizzo]
           ,[via]
           ,[Numero_Civico]
           ,[citta]
           ,[Cap]
           ,[Numero_Tel]
           ,[Matricola_Impiegato])
     VALUES(@id_indirizzo,@via,@Numero_Civico,@citta, @Cap,@Numero_Tel,@Matricola_Impiegato)"/>
		
		<add key="CreateTable" value="CREATE TABLE Indirzzi
          (
            id_indirizzo int Primary Key not null,
            via nchar (25),
            Numero_Civico nchar (25),
            citta nchar (25),
            Cap nchar (5),
            Numero_Tel nchar (30),
            Matricola_Impiegato nchar (10),
            FOREIGN KEY (Matricola_Impiegato)
            REFERENCES Impiegati (Matricola)
          );"/>
	</appSettings>
</configuration>